.bundle
db/*.sqlite3
db/*.sqlite3.db
log/*.log
tmp/**/*

*~
\#*\#
config/database.yml
config/database.mysql.yml
coverage/
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
*.swp
nbproject
public/system/**/*
private/**/*
.DS_Store
webrat*html
mkmf.log
public/javascripts/all.js
public/stylesheets/all.css
.yardoc

db/development_structure.sql
Capfile
config/deploy.rb
