= semantic_form_for "entry", :remote => true do |form|
  = form.inputs do
    Task
    - unless @entry
      - tasks ||= []
      = form.input :task_id, 
                   :collection => tasks.collect{ |task| [task.name, task.id] },
                                                           :required => true
    - else
      = form.input :task, 
                   :collection => Task.where(:project_id => @entry.project_id),
                                                    :selected => @entry.task_id
