%h1 Administration

%p
  = link_to 'Users', users_path, :class => "main_link"
  = link_to 'Project Maintenance', projects_path, :class => "main_link"
  = link_to 'Project States', project_states_path, :class => "main_link"
