!main_color = #fff8FF
!highlight_color = #ff80c0
!sidebar_width = 230px
!text_color = #555

body 
  font-size: 10pt 
  font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif
  :color = !text_color
  :background-color = !main_color

a
  &:link  
    text-decoration: underline
    :color = !text_color
  
  &:visited 
    text-decoration: underline
    :color = !text_color
 
  &:hover, &:active 
    text-decoration: underline
    :color = !text_color
 

#container
  width: 100%
  margin: 10px auto
  :margin-right = !sidebar_width

#header

#content
  :margin-left = !sidebar_width + 30px
  :background-color = white
  :border = 2px solid !highlight_color
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  height: 100%

#sidebar
  float: left
  :width = !sidebar_width
  padding-left: 10pt

#menu
  margin-top: 10pt
  :border = 2px solid !highlight_color
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  background-color: white

  h2
    :background-color = !main_color
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    margin: 0
    padding-left: 10px

  ul 
    list-style-type: none
    padding: 0
    margin: 0
    min-width: 100%

    li
      padding: 3px 0 3px 10px

      a 
        display: block
        width: 100%
        text-decoration: none
      &:hover
        :background-color = !main_color
        -moz-border-radius: 10px
        -webkit-border-radius: 10px

#calendar-container
  width: 100%

div.table
  display: table
  border-collapse: collapse

div.table .row 
  display: table-row

div.table .rowhighlight 
  display: table-row
  background-color: #FF80C0


div.headercell, div.textcell, div.inputcell, div.controlcell 
  text-align: left
  display: table-cell
  border: 1px #FFD0F0 solid


div.headercell 
  padding: 4px
  font-weight: bold


div.textcell {
  padding: 0px 2px
  vertical-align: middle


div.inputcell, div.controlcell 
  padding: 0px 2px

