div.task input[type="text"] {
  float: right;
  width: 72%;
  line-height: 18px;
}

div.task label {
  line-height: 18px;
  font-size: 13px;
  width: 25%;
  float: left;
}

#ui-datepicker-div.ui-datepicker {
  display: none;
}

#entry-ui-datepicker {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

input#entry_day_input {
  visibility: hidden;
}
