/* Style 'add task' form in projects to match formtastic inputs */
div.task input[type="text"] {
  width: 53.5%;
  left: 31.5%;
  position: absolute;
  line-height: 18px;
}

.task_inactive {
  padding-left: 25%;
  padding-top: 1em;
}

.task {
  display: block;
  padding-bottom: 2em;
}

/* Fix display bug in jQuery datepicker. Don't show artifacts when not called 
   upon */
#ui-datepicker-div.ui-datepicker {
  display: none;
}

/* Style datepicker in entry form */
#entry-ui-datepicker {
  width: 250px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Don't show:
 *   entry day field (it get's populated by datepicker),
 *   tasks_collection_storage (it's a container holding all tasks grouped by
 *     project)
*/
input#tasks_collection_storage,
input#entry_day_input {
  visibility: hidden;
  width: 1px;
}

/* Show entry inputs in one line */
/* I Don't display labels on 'new' and 'edit' actions */
form[id*="edit_entry_"] li label,
#new_entry li label {
  display: none;
}

/* II Set list layout to 'none' */
#new_entry fieldset.inputs ol li,
#new_entry fieldset.inputs ol {
  list-style: none;
}

/* III No blocking inputs */
.project_item fieldset.inputs {
  display: inline;
}

/* IV Float projects and tasks to the left, project details to the right */
#project {
  margin-top: 3em;
  margin-bottom: 1em;
}

#entry_task_id {
  width: 10em;
}

.project_item {
  float: left;
  display: inline;
}

.project_item input[type="checkbox"] {
  display: block;
}

/* V Style project details elements */
input#entry_end.ui-timepicker,
input#entry_start.ui-timepicker  {
  width: 8em;
}

input#entry_duration_hours {
  width: 5em;
}

input#entry_description {
  width: 16em;
}

/* Style filter entries */
.entries_report_item {
  display: inline;
  float: left;
  padding-right: 1em;
}

/* Have descriptions above dropdown menus */
.entries_report_item label {
  display: block;
}

#entries_search_button {
  padding-top: 2em;
  clear: left;
}

#entry_search {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Set space for paragraph-like look */
.line_item {
  padding-top: 0.5em;
}

/* Style 'show' actions */
dl.show_item dt {
  padding-top: 0.5em;
  font-weight: bold;
}

/* Style menu */
nav ul {
  list-style-type: none;
  margin-left: 40px;
  padding 0;
  padding-top: 20px;
}

nav ul li {
  float: left;
  margin-left: 10px;
}

nav ul li a {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-color: #00BCFF;
  background-color: #F1FCFF;
  border-style: solid;
  border-width: 2px 2px 0;
  display: block;
  padding: 5px 10px 3px;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li .active {
  background-color: #00BCFF;
  color: white;
  text-decoration: none;
}


/* Style reports and entries table */
#gradient-table { 
  width: 100%;
  margin: 0 40px 0 40px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; 
  border: 1px solid #333; 
  text-align: center;
  margin-top: 1em;
  /* background gradient */
  background: #F5F5F5; /* old browsers */
  background: -moz-linear-gradient(top, #F5F5F5 1%, #ffffff 99%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F5F5F5), color-stop(99%,#ffffff)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#ffffff',GradientType=0 ); /* ie */
}

#gradient-table th, 
#gradient-table td { 
  padding: 0.5em; 
  border: 1px dotted #666;
}

#gradient-table th {
  border-bottom: 2px solid #333;
  border-right: 2px solid #666;
  color: #000; background-color: #C9C9C9;
}

h1 {
  margin-bottom: 1em;
}


/* Style will_paginate pagination bar */
.pagination {
    font-size: 11px;
    margin: 0;
    padding: 3px 0 4px;
}

.pagination a,
.pagination a:visited {
    color: #00BCFF;
    padding:  3px 3px 2px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #00BCFF;
    color: #FFFFFF;
}

.pagination em {
    border-bottom: 2px solid #00BCFF;
    border-color: #00BCFF;
    color: #00BCFF;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.pagination .current a:hover {
    background-color: #00BCFF;
    color: #FFFFFF;
}

/* Style main links */
.main_link {
  display: inline-block;
  background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
  background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
  padding:5px 10px 6px 10px;
  font-size: 14px;
  text-shadow: 18pxpx 1px 1px rgba(255,255,255,0.5);
  border:1px solid rgba(0,0,0,0.4);
  -solidmoz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,2px0,0.5);
  text-decoration: none;
  padding: 0.5em !important;
  margin: 0.5em 0 0.5em 0 !important;
}

/* Style submenu */
#user_nav {
  position: absolute;
  float: right;
  right: 10em;
}

#sub_nav {
  color: white !important;
  height: 1.5em;
  width: 100%;
  float: right;
  background-color: #00BCFF;
  -moz-border-radius: 20px 0 0 0;
  -webkit-border-radius: 20px 0 0 0;
  padding-left: 42px;
  margin-bottom: 1em;
}

#sub_nav a {
  border-bottom: 1px dotted white;
  text-decoration: none;
}

/* Hide formtastic alerts on entry */
#new_entry .inline-errors {
  display: none;
}
