/* Style 'add task' form in projects to match formtastic inputs */
div.task input[type="text"] {
  float: right;
  width: 53.5%;
  line-height: 18px;
}

div.task label {
  line-height: 18px;
  font-size: 13px;
  width: 22%;
  float: left;
}

div.task input {
  position: absolute;
  left: 31.5%;
}

/* Fix display bug in jQuery datepicker. Don't show artifacts when not called 
   upon */
#ui-datepicker-div.ui-datepicker {
  display: none;
}

/* Center datepicker in entry form */
#entry-ui-datepicker {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* Don't show entry day field (it get's populated by datepicker) */
input#entry_day_input {
  visibility: hidden;
}

/* Show entry inputs in one line */
/* I Don't display labels */
#project_dropdown li label,
#tasks_dropdown li label,
#project_description li label,
#project_start li label,
#project_end li label,
#new_entry li label {
  display: none;
}

/* II Set list layout to 'none' */
#new_entry fieldset.inputs ol li,
#new_entry fieldset.inputs ol {
  list-style: none;
}

/* III No blocking inputs */
#project_details fieldset.inputs,
#project_details fieldset.inputs,
#tasks_dropdown fieldset.inputs {
  display: inline;
}

/* IV Float projects and tasks to the left, project details to the right */
#project {
  margin-top: 3em;
  margin-bottom: 1em;
}

#project_dropdown,
#tasks_dropdown {
  float: left;
}

#project_details {
  float: right;
}

#tasks_dropdown,
#project_dropdown {
  display: inline;
}

#project_billable,
#project_description,
#project_start,
#project_end {
  float: left;
  display: inline;
}

/* V Style project details elements */
input#entry_end.ui-timepicker,
input#entry_start.ui-timepicker  {
  width: 12em;
}

input#entry_description {
  width: 16em;
}
