%h2
  Edit
  = @user.username.to_s.humanize

= render 'form'

= link_to "Delete this account", user_path(@user), :confirm => "Are you sure?",
  :method => :delete, :class => "main_link"
= link_to "All users", :back, :class => "main_link"
