%h1 Users

%table.gradient-table
  %tr
    %th=sortable "username"
    %th=sortable "email"
    %th Edit
  - collection.each do |user|
    %tr
      %td= link_to user.username, edit_resource_path(user)
      %td= user.email
      %td= link_to (image_tag 'edit.png'), edit_user_path(user)
