%h1 Users

%table#gradient-table
  %tr
    %th Username
    %th E-Mail
    %th Last sign in date
    %th Last entry date
  - collection.each do |user|
    %tr
      %td
        = link_to user.username, edit_resource_path(user)
      %td
        = user.email
      %td
        = last_sign_in_date(user)
      %td
        = last_entry_date(user)
