%td
  = milestone_form.hidden_field :milestone_type_id,
    :value => milestone.milestone_type.id
  = milestone.milestone_type.name
%td= milestone_form.input :start, :as => :date_picker, :label => false
%td= milestone_form.check_box :reached
