%dl
  %h2 Project
  %dt Name
  %dd= project.name
  %dt Description
  %dd= project.description
  %h3 Tasks
  %ol
  = for task in @project.tasks do
    %dd
      %li= task.name
    <br />

  %dt Actions
  %dd
    =link_to 'edit', edit_resource_path(project)
    =link_to 'destroy', resource_path(project), :method => :delete
