%h2 Project
%b Name:
= resource.name
<br />
<br />
%b Description:
= resource.description

%h3 Tasks
%ol
  = for task in resource.tasks
    - unless task.inactive
      %li
        = task.name
      <br />

Actions
=link_to 'edit', edit_resource_path(resource)
