%td
  = responsibility_form.hidden_field :responsibility_type_id,
    :value => responsibility.responsibility_type.id
  = responsibility.responsibility_type.name
%td
  = responsibility_form.collection_select :user_id, User.all, :id, :username, :include_blank => true
