%table
  %tfoot
    %tr
      %td Total time
      %td= @project.duration_hours
    %tr
      %td Total billable
      %td 1234
  %tr
    %td= "Burned time: 1234"
    %td= "Expected remaining work: 1234"
