%h2.grid_12 Responsibilities

.box.grid_12
  %h2=link_to 'Responsibilities', '#', :class => 'toggle-box'
  %div
    %table.responsibilities
      %thead
        %tr
          %th Date
          %th Name
          %th Reached

      - @responsibilities.each do |responsibility|
        %tr
          %td= responsibility.created_at
          %td= responsibility.responsibility_type.name
          %td= responsibility.reached
