  <fieldset>
    <legend>Please Log In</legend>

    <% form_tag ({ :action => 'login' }) do %>
      <p>
        <label for="name">Name:</label><br/>
        <%= text_field_tag :name, params[:name] %>
      </p>

      <p>
        <label for="password">Password:</label></br>
        <%= password_field_tag :password, params[:password] %>
      </p>
  
      <p>
        <%= submit_tag "Login" %>
      </p>
    <% end %>
  </fieldset>
